body{
    padding:0;
    margin:0;
    background-color:#BE9DFF;
    font-family: 'Times New Roman', Times, serif;
}
.box{
    top: 50%;
    left:50%;
    padding: 40px;
    transform:translate(-50%,-50%);
    background-color: #FFDDB8;
    text-align: center;
    width: 300px;
    height: auto;
    position: absolute;
}

.box h1{
    color:#795DB3;
    text-transform: capitalize;
    font-weight: 500;
}
.box input[type="text"],input[type="password"]{
    border : 2px #BE9DFF solid ;
    background: none;
    text-align: center;
    width: 130px;
    margin:10px;
    padding: 15px 15px;
    border-radius: 24px;
    outline:none;
    color:  #795DB3 ;
    transition: .2s ;
}

.box input[type="text"]:focus,input[type="password"]:focus{
    margin:10px;
    width: 200px;
    border : 5px #66B372 solid ;
}

.box input[type="submit"]{
    border : 2px #795DB3 solid ;
    background: none;
    text-align: center;
    width: 100px;
    margin:10px;
    padding: 15px 15px;
    border-radius: 24px;
    outline:none;
    /* color:  #795DB3 ; */
    transition: .2s ;
    cursor:pointer;
    color:#FFDDB8;
    background: #795DB3 ;
}

.box input[type="submit"]:hover{
    /* margin:10px; */
    /* width: 247px; */
    border : 2px #66B372 solid ;
    color:#FFDDB8;
    background: #66B372 ;
}

